.container{
    width:800px;
    margin: auto;
    /*Setting overflow:hidden to make sure the container contains the floated items*/
    overflow:hidden;
}

li{
    float:left;
    margin-right: 20px;
    list-style:none;
    width:200px;
    height:200px;
    background: red;
    margin-bottom: 20px;
    /*Setting line-height equal to the height of the container to center the text vertically*/
    line-height:200px;
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    background: #e3e3e3;
}


/*Using first-child pseudo class to target only the first child*/
li:first-child{
    background-color: green;
}

/*Targeting the last child*/
li:last-child{
    background-color:yellow;
}

/*Now targeting elements within the list by using "nth" pseudo class*/
li:nth-child(6){
    background-color: blue ;
}

/*Targeting every other third child*/
li:nth-child(3n){
    background-color:aqua;
}

/*
Now if you want to target 1, 4 and 7 you have to use the "nth-child" pseudo class;however,
you need to use nth-child(3n+1), but read it from right to left. What I mean by this is you want
to target the 1st element and then every 3rd starting from it so 1+3=4 and 4+3=7...nice!
*/
li:nth-child(3n+1){
    background-color:darkolivegreen;
}

/*Targeting the middle elements*/
li:nth-child(3n+2){
    background-color: mediumpurple;
}


